modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

run = "git pull --quiet || true && cd dashboard && npm install && npm run build && npm start"

[deployment]
run = ["bash", "-l", "-c", "cd dashboard && npm start"]
build = ["bash", "-l", "-c", "cd dashboard && npm install && npm run build"]
visibility = "private"

[[ports]]
localPort = 3000
externalPort = 80
